<style>
 .btn-default {
     color: black !important;
 }   
</style><div id="column-left1">
        <form class="form-horizontal" method="post" style="margin-top:10%" onchange="customizeCheckoutJSV3()">
            <fieldset>
                <legend>Customize Checkout Experience</legend>

                <!-- Form Name -->

                <!-- Text input-->
                <div class="form-group" id="clientIdElem">
                    <label class="col-md-4 control-label" for="textinput">Client Id</label>
                    <div class="col-md-6">
                        <input value="AV2UJ4rXMH6vaJcJTUTJR4doweN1og37fTV6xTKIhEPqqmEU7ZuI_Kl86PeTm1EXf6CjdNEixjXmYM7v" id="clientIdEl" name="clientIdEl"
                            type="text"  placeholder="Enter Client Id" class="form-control input-md">

                    </div>
                </div>


                 <!-- Text input-->
                 <div class="form-group" id="clientSecretElem">
                    <label class="col-md-4 control-label" for="textinput">Client Secret</label>
                    <div class="col-md-6">
                        <input value="EM1PKF6OWi3lonGwnuCeK8LAfqFr6Rpqbbo-98Ed9hMzNNWOJAvtEMb46m9jVvHjNHKc7kcribk31NrM" id="clientSecretEl" name="clientSecretEl"
                            type="text"  placeholder="Enter Client Secret" class="form-control input-md">

                    </div>
                </div>

                 <!-- Text input-->
                 <div class="form-group" id="merchantIdElem">
                        <label class="col-md-4 control-label" for="textinput">Merchant Id</label>
                        <div class="col-md-6">
                            <input value="8KLLSH5GLTYVQ" id="merchantId" name="merchantId"
                                type="text"  placeholder="Enter Merchant Id" class="form-control input-md">
    
                        </div>
                    </div>

            </fieldset>
        </form>

    </div>
