<html>
    
    <head>
        <title>Express Checkout demo</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="icon" sizes="32x32" href="https://www.paypalobjects.com/webstatic/developer/favicons/pp32.png">
        
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
        <script>
          var checkoutObj ={};
          var serverUrl = 'https://expresscheckout-demo.herokuapp.com/'
          $(document).ready(function(){
            $(".nav li").removeClass("active");
            $('[href="'+location.pathname+'"]').parent().addClass("active")
            $('[href="'+location.pathname+'"]').parent().parent().parent().addClass("active")
          });
        
          </script>
       
    </head>
    
    <body>

      <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Rest Express Checkout</a>
              </div>
          
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="/">Home</a></li>
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Client Rest Integration Types <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/simpleClient">Simple</a></li>
                      <li><a href="/confirmationClient">Confirmation</a></li>                      
                      <li><a href="/experienceClient">Experience</a></li> 
                      <li><a href="/redirectionClient">Redirection</a></li>    
                      <li><a href="/markintegrationClient">Mark Integration</a></li>
                    </ul>
                    </li>
                  
                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Server Rest Integration Types <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/simpleServer">Simple</a></li>
                        <li><a href="/fullredirectionServer">Full Page Redirection</a></li>
                        <li><a href="/confirmationServer">Confirmation</a></li>                      
                        <li><a href="/experienceServer">Experience</a></li> 
                        <li><a href="/redirectionServer">Redirection</a></li>    
                        <li><a href="/markintegrationServer">Mark Integration</a></li>
                        
                      </ul>
                    </li>

                  <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Braintree Rest Integration Types <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="#">Simple (coming soon)</a></li>
                      </ul>
                  </li>  

                </ul>
            </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
          </nav>
          

