<html>
  <head>
      <title>Express Checkout demo</title>
      <link rel="icon" sizes="32x32" href="https://www.paypalobjects.com/webstatic/developer/favicons/pp32.png">
      <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
      
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
     
    <!-- Custom CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="/stylesheets/jquery-ui.css" type="text/css" rel="stylesheet">
    <link href="/stylesheets/header.css" rel="stylesheet">
         
<script src="/javascripts/jquery-1.11.0.js"></script>
<script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
<script src="/javascripts/jquery-ui.min.js" type="text/javascript"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/client.min.js"></script>
<script src="https://js.braintreegateway.com/web/3.25.0/js/paypal-checkout.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.3/ace.js"></script>
<script>
  var checkoutObj ={};
  var editor ={};
  var serverUrl = 'http://localhost:3000'
  
  $(document).ready(function(){
    $('[href="'+location.pathname+'"]').css("color","yellow");
    $($('[href="'+location.pathname+'"]').parent().parent().parent().parent().parent().parent().siblings()[0]).addClass("header-menu-highlight")
  });

  </script>

<style>
  .navhigh {
    border-bottom: 2px solid #FFF;
  }
  body{
    background-color: #f5f7fa !important;
  }
</style>
</head>
<body>
  <div role="main" id="mpp-app" class="notMobile">
  <header class="pp-header sticky-pp-header scrolling" id="pp-header">
    <div class="pp-header__container">
      <div class="container">
        <div class="menu-button-wrapper"><a id="menu-button" class="pypl-btn pypl-btn--small mpp-btn menu-button" href="#" role="button">Menu</a></div>
        <div class="pypl-logo-wrapper"><a href="/" class="pypl-logo pypl-logo--white">PayPal</a></div>
        <nav id="main-menu" class="main-menu" role="navigation" style="">
          <ul class="main-menu-list">
            <li><a class="pypl-header__subnav-control main-link" href="#" id="Header-Individual" rel="menuitem" aria-expanded="false">Client Integration Steps</a>
              <div class="submenu-wrapper" id="submenu-Individual" aria-labelledby="header-Individual" role="region">
                <div class="container">
                  <div class="pp-header__subnav"><span class="closer-mobile"><a href="#" role="button">Client Integration Steps</a></span>
                    <div class="submenu-cols lvl-2">
                      <ul class="submenu-col submenu-row-3">
                        <li><a href="/simpleClient">Simple</a></li>
                        <li><a href="/confirmationClient">Confirmation</a></li>   
                        <li><a href="/markflowClient">Mark Flow</a></li> 
                      </ul>
                      <ul class="submenu-col submenu-row-3">
                        <li><a href="/experienceClient">Experience</a></li>
                        <li><a href="/redirectionClient">Redirection</a></li>    
                        <li><a href="/markintegrationClient">Mark Integration</a></li>
                        
                      </ul>
                    </div>
                    <span class="closer-desktop"><a href="#" role="button" title="Close">Close</a></span></div>
                </div>
              </div>
            </li>
            <li><a class="pypl-header__subnav-control main-link" href="#" id="Header-Business" rel="menuitem" aria-expanded="false">Server Integration Steps</a>
              <div class="submenu-wrapper" id="submenu-Business" aria-labelledby="header-Business" role="region">
                <div class="container">
                  <div class="pp-header__subnav"><span class="closer-mobile"><a href="#" role="button">Server Integration Steps</a></span>
                    <div class="submenu-cols lvl-2">
                      <ul class="submenu-col submenu-row-3">
                        <li><a href="/simpleServer">Simple</a></li>
                        <li><a href="/fullredirectionServer">Full Page Redirection</a></li>
                        <li><a href="/markflowServer">Mark Flow</a></li>
                      </ul>
                      <ul class="submenu-col submenu-row-3">
                        <li><a href="/confirmationServer">Confirmation</a></li>                      
                        <li><a href="/experienceServer">Experience</a></li> 
                        <li><a href="/redirectionServer">Redirection</a></li>    
                        <li><a href="/markintegrationServer">Mark Integration</a></li>
                      </ul>
                    </div>
                    <span class="closer-desktop"><a href="#" role="button" title="Close">Close</a></span></div>
                </div>
              </div>
            </li>
            
            <li><a class="pypl-header__subnav-control main-link" href="#" id="Header-s" rel="menuitem" aria-expanded="false">Brain Tree Integration Steps</a>
              <div class="submenu-wrapper" id="submenu-Business" aria-labelledby="header-s" role="region">
                <div class="container">
                  <div class="pp-header__subnav"><span class="closer-mobile"><a href="#" role="button">Brain Tree Integration Steps</a></span>
                    <div class="submenu-cols lvl-2">
                      <ul class="submenu-col submenu-row-3">
                        <li><a href="/simpleBrainTree">Simple</a></li>
                        <li><a href="/redirectionBrainTree">Redirection</a></li>
                        <li><a href="/markflowBrainTree">Mark Flow</a></li>
                      </ul>
                      <ul class="submenu-col submenu-row-3">
                          <li><a href="/experienceBrainTree">Experience</a></li>    
                          <li><a href="/confirmationBrainTree">Confirmation</a></li>
                          <li><a href="/markintegrationBrainTree">Mark Integration</a></li>
                      </ul>
                    </div>
                    <span class="closer-desktop"><a href="#" role="button" title="Close">Close</a></span></div>
                </div>
              </div>
            </li> 
          </ul>
        </nav>
        
      </div>
    </div>
  </header>
  <br/><br/>
  <!-- end header -->
