<div class="row" style="margin-top:1%">
    <div class="col-sm-4"></div>  
    <div class="col-sm-8 text-left" style="padding-left:6%;background-color:#f5f7fa">
            <h3>iPhone 6S</h3>
            <img src="/images/iphone.jpeg" class="img-responsive" style="height:15%"/>
            <h4>Price : $4.00</h4>
            <p></p>
        </div>
</div>