
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding-bottom:2px;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Source Code</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="csc">Copy Source Code</button>
            </div>
          </div>
      
        </div>
      </div>
<script>
  $(document).ready(function(){

    handleClick('view source code',urlAppMapping[location.pathname]);
    
  $('#csc').on('click', function() {
    handleClick('copy to clipboard',urlAppMapping[location.pathname]);
    
    var sel = editor.selection.toJSON(); // save selection
    editor.selectAll();
    editor.focus();
    document.execCommand('copy');
    editor.selection.fromJSON(sel); // restore selection
    alert("Copied to Clipboard");
  });
});
</script>