
<div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
      
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header" style="padding-bottom:2px;">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Source Code</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Copy Source Code</button>
            </div>
          </div>
      
        </div>
      </div>
