<% include partials/header.ejs %>

    <div class="container-fluid" style="margin-top:10%">
        <div class="row">
            <div class="alert alert-danger text-center" style="height:50%">
                <div style="margin-top:6%">
                        <h3><strong>You have cancelled the order.
                            </strong>
                        </h3>
                        <br/><br/>
                        <h2><strong>
                                <div> Click
                                    <a href='/'>here </a> to return to Home Page
                                </div>
                            </strong>
                        </h2>
                </div>
            </div>
        </div>
    </div>