<% include partials/header.ejs %>

    <div class="container-fluid" style="margin-top:10%">
        <div class="row">
            <div class="alert alert-danger text-center" style="height:50%">
                <div style="margin-top:5%">
                    <h3>Error Occurred</h3>
                    <h3>
                        <%= message %>
                    </h3>
                    <strong>
                        <div> Click
                            <a href='/'>here </a> to return to Home Page
                        </div>
                    </strong>
                </div>
            </div>
        </div>
    </div>