
<% if (type=='jsv3') { %>
    <% include partials/headers/header-jsv3.ejs %>
    
<% } else if(type=='jsv4') { %>
      <% include partials/headers/header-jsv4.ejs %>
<% } else { %>
    <% include partials/headers/header-ecbt.ejs %>
<% } %>
    <div class="container-fluid" style="margin-top:10%">
        <div class="row">
            <div class="alert alert-danger text-center" style="height:50%">
                <div style="margin-top:5%">
                    <h3>Error Occurred</h3> <br/>
                    <h3>
                        <%= message %>
                    </h3> <br/>
                    <strong>
                        <h2> Click
                            <a href='/'>here </a> to return to Home Page
                        </h2>
                    </strong>
                </div>
            </div>
        </div>
    </div>