<% include partials/header.ejs %>
    <div class="container-fluid">
        <div style="margin-left:4%;margin-right:2%;">
            <div class="well well-sm " style="margin-top:5%;background: rgb(22, 105, 173);
            color: white;">
                <center>
                    <h4>PayPal Express Checkout Integration</h4>
                </center>
            </div>

            <p> Express Checkout gives your buyers a simplified checkout experience that keeps them local to your website or
                mobile app throughout the payment authorization process and lets them use their PayPal balance, bank account,
                or credit card to pay without sharing or entering any sensitive information on your site.
            </p>

            <h2>Customize experience via Smart payment buttons</h2>

            <p> Express Checkout's Smart Payment Buttons provide a variety of button customization options, such as color, language,
                shape, and multiple button layout. With multiple button layout, you can offer buyers local funding sources
                or alternative payment methods, such as Venmo. Based on your specific configuration and a buyer's location
                and cookies, PayPal dynamically presents the appropriate funding sources to give your buyers more more ways
                to pay.
            </p>

            <h2>Working of Express Checkout</h2>
            <p>The Express Checkout flow keeps the buyer on your web page or mobile app throughout the entire checkout flow.
                On desktops, buyers check out in a secure lightbox window that overlays your website. On tablets and smart
                phones, buyers access the PayPal payment screens in a full-page mobile browser.</p>
            <p>
                <img src="/images/in-context-flow.png" />
            </p>

            <br/>

            <ol style="margin-left:10%;line-height:2em;list-style-type:decimal">
                <li>When a buyer clicks the PayPal button, your app sets up the payment option and begins the checkout in a lightbox
                    or mobile browser.</li>
                <li>The buyer logs in to PayPal. Your app can optionally show payment details on a confirmation page.</li>
                <li>The buyer reviews and authorizes the payment.</li>
                <li>Your app returns control to the parent window or mobile app to finalize the payment.</li>
            </ol>

        </div>
    </div>
    </body>

    </html>