<html>
    <head>
        <title>Express Checkout demo</title>
        <link rel="icon" sizes="32x32" href="https://www.paypalobjects.com/webstatic/developer/favicons/pp32.png">
        <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
        
      <!-- Bootstrap Core CSS -->
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
       
      <!-- Custom CSS -->
     <!--<link href="/stylesheets/style.css" rel="stylesheet"> -->
      <link href="/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css"/>
      <link href="/stylesheets/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
      <link href="/stylesheets/jquery-ui.css" type="text/css" rel="stylesheet">
      <link href="/stylesheets/header.css" rel="stylesheet"> 
      <link href="/stylesheets/lobipanel.css" rel="stylesheet">

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>  <script src="/javascripts/jquery-ui.min.js" type="text/javascript"></script>
      <script src="/javascripts/bootstrap.min.js" type="text/javascript"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
      <script src="/javascripts/lobipanel.js"></script>
   <style>
    .navhigh {
      border-bottom: 2px solid #FFF;
    }
    body{
      background-color: #f5f7fa !important;
    }

    .lobipanel > .panel-heading .dropdown {
        margin-top:1%;
    }
    
    .lobipanel > .panel-heading {
        padding-bottom: 2%;
    }

    @-webkit-keyframes glowing {
        0% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
        50% { background-color: #FF0000; -webkit-box-shadow: 0 0 40px #FF0000; }
        100% { background-color: #B20000; -webkit-box-shadow: 0 0 3px #B20000; }
      }
      
      @-moz-keyframes glowing {
        0% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
        50% { background-color: #FF0000; -moz-box-shadow: 0 0 40px #FF0000; }
        100% { background-color: #B20000; -moz-box-shadow: 0 0 3px #B20000; }
      }
      
      @-o-keyframes glowing {
        0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
        50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
        100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
      }
      
      @keyframes glowing {
        0% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
        50% { background-color: #FF0000; box-shadow: 0 0 40px #FF0000; }
        100% { background-color: #B20000; box-shadow: 0 0 3px #B20000; }
      }
      
      .livechatBtn {
        -webkit-animation: glowing 1500ms infinite;
        -moz-animation: glowing 1500ms infinite;
        -o-animation: glowing 1500ms infinite;
        animation: glowing 1500ms infinite;
      }

    
  </style>
  </head>
  <body>
    <div role="main" id="mpp-app" class="notMobile">
    <header class="pp-header sticky-pp-header scrolling" id="pp-header" style="z-index:1">
      <div class="pp-header__container">
        <div class="container">
          <div class="menu-button-wrapper"><a id="menu-button" class="pypl-btn pypl-btn--small mpp-btn menu-button" href="#" role="button">Menu</a></div>
          <div class="pypl-logo-wrapper" style='margin-left:-35px;'><a href="/" class="pypl-logo pypl-logo--white">PayPal</a></div>
          <nav id="main-menu" class="main-menu" role="navigation" style="">
            <ul class="main-menu-list">
                <h1 style="margin:0 !important; color:black !important;">Express Checkout Demo</h1>
            </ul>
          </nav>
          <button type="button" class= "pull-right btn btn-danger btn-lg livechatBtn" data-toggle="modal" data-target="#myModal">Live Support</button>
          
        </div>
      </div>
    </header>
    <br/><br/>
    <!-- end header -->
  
    <div class="container-fluid" style="margin-top:4%">


            <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">
                    
                      <!-- Modal content-->
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Modal Header</h4>
                        </div>
                        <div class="modal-body">
                          <p>Some text in the modal.</p>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default"
                          data-dismiss="modal" onClick="closeChat()">Close</button>
                        </div>
                      </div>
                      
                    </div>
                </div>


        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title" style="margin-top:1%">
                                <h1> JSV4 </h1>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h2  style="line-height:1em;color:black">  This method uses Rest to integrate with Paypal using Checkout JSV4. <br/>
                            <br/>Rest SDK is used.
                            <br/><br/>
                            Click <a href="/indexjsv4">here</a> to view this integration  <br/>
                        </h2>   
                        </div>
                </div>
            </div>
            
            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="panel-title" style="margin-top:1%">
                                    <h1>EC BT </h1>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h2  style="line-height:1em;color:black">  This method uses Braintree to integrate with Paypal. <br/>
                                <br/>Rest and Braintree SDK is used.
                                <br/><br/>
                                Click <a href="/indexecbt">here</a> to view this integration  <br/>
                            </h2>   
                            </div>
                    </div>
            </div>


            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title" style="margin-top:1%">
                                <h1>BT Direct</h1>
                            </div>
                        </div>
                        <div class="panel-body">
                            <h2  style="line-height:1em;color:black">  This method uses Braintree to integrate with Paypal and other payment methods. <br/>
                            <br/>Rest and Braintree SDK is used.
                            <br/><br/>
                            Click <a href="/indexbtdirect">here</a> to view this integration  <br/>
                        </h2>   
                        </div>
                </div>
            </div>
     
                        
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title" style="margin-top:1%">
                                <h1>JSV3.x</h1> 
                            </div>
                        </div>
                        <div class="panel-body">
                            <h2  style="line-height:1em;color:black">  This method uses Rest to integrate with Paypal using Checkout JSV3.x  <br/>
                            <br/>Rest SDK is used.
                            <br/><br/>
                            Click <a href="/indexjsv3">here</a> to view this integration  <br/>
                        </h2>   
                        </div>
                </div>
            </div>

            
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title" style="margin-top:1%">
                                <h1>Classic Method</h1>
                               
                            </div>
                        </div>
                        <div class="panel-body">
                            <h2 style="line-height:1em;color:black">This method uses classic way to integrate with Paypal. <br/>
                           <br/> NVP/SOAP SDK is used.
                            <br/><br/>
                            Click <a href="/indexclassic">here</a> to view this integration     <br/>
                        </h2>
                        </div>
                    </div>
                </div>   

        </div>   
    
                <script>
                   $(function(){
                        $('.panel').lobiPanel({
                          //  sortable: true,
                            reload: false,
                            close: false,
                            editTitle: false,
                            expand: false,
                            unpin : false

                            
                        });
                    });
                </script>
    </div>
    <script>
        $(document).ready(function(){
            $('.livechatBtn').on('click',function(){
                $('.modal-body').load('livechat/index.html',function(){
                    $('#myModal').modal({show:true});
                });
            });
        })

        function closeChat(){
            $.ajax({
                type: 'POST',
                url: 'https://livechat-help.herokuapp.com/webhook',
                data :{
                    sender: sessionStorage.getItem('guid'),
                    type:'end'
                }
            }).done(function(msg) {
                sessionStorage.removeItem('guid');
            });
        }
</script>
    