<% include partials/header.ejs %>

    <div class="container-fluid ">
        
        <div class="row">
            <div class="col-lg-7 col-md-4 col-sm-12 portfolio-item c1 text-center">
                    <% include partials/customizeform.ejs %>
            </div>

            <div class="col-lg-5 col-md-3 col-sm-12 portfolio-item c1 text-center">
                <div id="column-middle1" style="margin-top:14.5%;height:100%">
                    <legend>View the checkout experience</legend>
                    
                    <div class="alert alert-info">
                            <strong>Confirmation Braintree Checkout Flow</strong>
                    </div>

                    
                    <% include partials/product.ejs %>
          
                    
                    <div class="row" style="margin-top:10%">
                        <div id="paypal-button-container"></div>
                        <br/>
                        <div id="paypal-button-container-err"></div>

                        <div id="confirm" style="display:none">
                                <div>Ship to:</div>
                                <div><span id="recipient"></span>, <span id="line1"></span>, <span id="city"></span></div>
                                <div><span id="state"></span>, <span id="zip"></span>, <span id="country"></span></div>
                            
                                <button id="confirmButton" class="btn btn-success">Complete Payment</button>
                        </div>

                        <div id="loading" style="display:none">
                                Loading...
                            </div>   
                            
                        <div id="thanks" style="display:none">
                                Thanks, <span id="thanksname"></span>!
                            <br/>
                            Your Payment Id is <span id="pid"></span>
                        </div>
                            
                        <br/>

                        <button type="button" class="btn btn-primary btn-md openBtn"  id="viewSC">View Source Code</button>
                    </div>
                </div>
            </div>

         <script>
                $(document).ready(function(){
                    $("#clientIdElem").hide();   
                    $("#clientSecretElem").hide();   
                    $("#btAccessTokenElem").show();   
                    $('.openBtn').on('click',function(){
                        $('.modal-body').load('braintree/editor/confirmation.html',function(){
                            $('#myModal').modal({show:true});
                        });
                    });
                })
        </script>   
            
        </div> <!-- end of row -->
        <% include partials/sourcecode.ejs %>
        
    </div> <!-- end of container -->
<script>
    function createCheckoutExp(chkObj){
      var EXECUTE_PAYMENT_URL = "/api/braintree/payment"
      delete chkObj.client;
      
      var obj = {
            braintree: braintree,

            client: {
                sandbox: paypal.request.get('/api/braintree/clienttoken?btAccessToken='+$("#accessToken").val()),
                production: '<insert production auth key>'
            },
        
            payment: function(data, actions) {
                document.getElementById("paypal-button-container-err").innerHTML='';
                // Make a call to create the payment
                return actions.payment.create({
                    payment: {
                        transactions: [
                            {
                                amount: { total: '1.00', currency: 'USD' }
                            }
                        ],
                        payer : {
                            shipping_address: {
                                recipient_name: 'XYA ABC',
                                line1: '1234 Main St.',
                                line2: 'Unit 1',
                                city: 'Little India',
                                country_code: 'SG',
                                postal_code: '351234',
                                state: 'Singapore',
                                phone: '65 123213213'
                            }
                        },
                        application_context: {
                            brand_name: "branding",
                            shipping_preference: "SET_PROVIDED_ADDRESS",
                            landing_page: "billing"
                        }
                    }
                });
            },
            // Wait for the payment to be authorized by the customer
            onAuthorize: function(data, actions) {

                return actions.payment.get().then(function (datum) {
        
                    // Display the payment details and a confirmation button
    
                    var shipping = datum.payer.payer_info.shipping_address;
    
                    document.querySelector('#recipient').innerText = shipping.recipient_name;
                    document.querySelector('#line1').innerText     = shipping.line1;
                    document.querySelector('#city').innerText      = shipping.city;
                    document.querySelector('#state').innerText     = shipping.state;
                    document.querySelector('#zip').innerText       = shipping.postal_code;
                    document.querySelector('#country').innerText   = shipping.country_code;
    
                    document.querySelector('#paypal-button-container').style.display = 'none';
                    document.querySelector('#confirm').style.display = 'block';
    
                    // Listen for click on confirm button
    
                    document.querySelector('#confirmButton').addEventListener('click', function() {
    
                        // Disable the button and show a loading message
                        document.querySelector('#confirm').style.display = 'none'; 
                        document.querySelector('#loading').style.display = 'block'; 
                        
                        // Execute the payment
                        // Call your server with data.nonce to finalize the payment
                        console.log('Braintree nonce:', data.nonce);
                        return paypal.request.post(EXECUTE_PAYMENT_URL, {
                            nonce: data.nonce,
                            btAccessToken: $("#accessToken").val(),
                        }).then(function(payment) {
                            if (payment.error) {
                                document.getElementById("paypal-button-container-err").innerHTML = "<p style='color:red'>"+JSON.stringify(payment.error)+"</p>";
                                return;
                            }
                             // Show a thank-you note
                             document.querySelector('#thanksname').innerText = shipping.recipient_name;
                             document.querySelector('#pid').innerText = payment.transaction.paypal.paymentId;
                             document.querySelector('#confirm').style.display = 'none';
                             document.querySelector('#loading').style.display = 'none';
                             document.querySelector('#thanks').style.display = 'block';
                             setTimeout(()=>{
                                 document.querySelector('#paypal-button-container').style.display = 'block';
                                 document.querySelector('#thanks').style.display = 'none';
                                 window.location.reload();
                             },4000);
                        });
                    });
                });
            },
                
            onCancel: function () {
                window.alert("You have cancelled");
                return;
            },

            onError: function (err) {
                $("#viewSC").hide();
                document.getElementById("paypal-button-container-err").innerHTML = "<p style='color:red'>" +
                    err + "</p>";
            }
        };
    
        paypal.Button.render(Object.assign({}, obj, chkObj), '#paypal-button-container');

    }
</script>
<script src="/javascripts/formhandling.js"></script>

</body>

</html>