
<% include partials/header.ejs %>
  
   
<div class="container-fluid ">
    
    <div class="row">
        <div class="col-lg-6 col-md-4 col-sm-12 portfolio-item c1 text-center" 
            id="customFormElem" style="display:none">
        <% include partials/customizeform.ejs %>
      </div>
  
      <div class="col-lg-6 col-md-3 col-sm-12 portfolio-item c1 text-center">
        <div id="column-middle1" style="margin-top:14.5%;height:100%">
            <legend>View the checkout experience</legend>
            
            <div class="alert alert-info">
                    <strong>Shortcut Flow DropIn BT Direct Checkout</strong>
            </div>

          <% include partials/product.ejs %>
          
          <div id="checkout-message"></div>
                
            <div id="dropin-container"></div>
            <button id="submit-button" style="display:none" class="btn btn-primary">Purchase</button>

      <script>
     
     function createCheckoutExp(chkobj){
      $("#dropin-container").empty();
      
      var button = document.querySelector('#submit-button');

      paypal.request.get('/api/btdirect/clienttoken')
      .then((token)=> {
        braintree.dropin.create({
            authorization: token,
            container: '#dropin-container',
            card: {
              cardholderName: true
            },
            paypal: {
              flow: 'checkout', // Required
              intent:'sale',
              amount: 4.00, // Required
              currency: 'USD', // Required
              buttonStyle: chkobj.style,
              enableShippingAddress: true,
              shippingAddressEditable: false
              /*shippingAddressOverride: {
                recipientName: 'Scruff McGruff',
                line1: '1234 Main St.',
                line2: 'Unit 1',
                city: 'Chicago',
                countryCode: 'US',
                postalCode: '60652',
                state: 'IL',
                phone: '123.456.7890'
              }*/
            }
          }, function (createErr, instance) {

              if(createErr){
                console.error(createErr);
              }
            $("#submit-button").show();

            setTimeout(()=>{
              $($("[data-braintree-id='payment-options-container'] > div")[1]).trigger("click")
            },1000)
            

            $("[data-braintree-id='payment-options-container'] > div").on("click",function(evt){
              if(evt.currentTarget.className.indexOf("paypal") !=-1) {
                $("#customFormElem").show();
                $("#submit-button").hide();
              } else {
                $("#customFormElem").hide();
                $("#submit-button").show();
              }
            });

            button.addEventListener('click', function () {
              instance.requestPaymentMethod(function (requestPaymentMethodErr, payload) {
                // When the user clicks on the 'Submit payment' button this code will send the
                // encrypted payment information in a variable called a payment method nonce
                  $('#checkout-message').html('<br/><h1>Loading....</h1>');
                $.ajax({
                  type: 'POST',
                  url: '/api/btdirect/payment',
                  data: {'paymentMethodNonce': payload.nonce}
                }).done(function(result) {
                  // Tear down the Drop-in UI
                  instance.teardown(function (teardownErr) {
                    if (teardownErr) {
                      console.error('Could not tear down Drop-in UI!');
                    } else {
                      console.info('Drop-in UI has been torn down!');
                      // Remove the 'Submit payment' button
                      $('#submit-button').remove();
                    }
                  });
        
                  if (result.success) {
                    $('#checkout-message').html('<br/><h1>Success.<br/>Your payment Id is '+ result.transaction.paypal.paymentId +'</br>Refresh to try another transaction.</h1><br/>');
                  } else {
                    console.log(result);
                    $('#checkout-message').html('<br/><h1>Error <br/> Check your console.<br/>Refresh to try again.</h1><br/>');
                  }
                });
              });
            });
          });
        });
      }

      $("#clientIdElem").hide();
      $("#clientSecretElem").hide();   
      
      </script>
    </div>
</div>
</div>
  </div>  

  <script src="/javascripts/formhandling.js"></script>
  