<% include partials/header.ejs %>

    <div class="container-fluid ">
        
        <div class="row">
            <div class="col-lg-7 col-md-4 col-sm-12 portfolio-item c1 text-center">
                    <% include partials/customizeform.ejs %>
            </div>

            <div class="col-lg-5 col-md-3 col-sm-12 portfolio-item c1 text-center">
                <div id="column-middle1" style="margin-top:14.5%;height:100%">
                    <legend>View the checkout experience</legend>
                    
                    <div class="alert alert-info">
                            <strong>Mark Integration Server Checkout Flow</strong>
                    </div>
                    
                    <div class="row" style="margin-top:10%">
                       <div id="code" class="markintg">
                                    
                        <label>
                            <input type="radio" name="payment-option" value="paypal" checked>
                            <img src="/images/paypal-mark.jpg" alt="Pay with Paypal">
                        </label>
                        
                        <label>
                            <input type="radio" name="payment-option" value="card">
                            <img src="/images/card-mark.png" alt="Accepting Visa, Mastercard, Discover and American Express">
                        </label>
                        
                        <div id="paypal-button-container"></div>
                        <div id="card-button-container" style="display:none" onclick="alert('Integrate with alternate payment')"><button>Continue</button></div>
                        
                        <br/>
                        <div id="paypal-button-container-err"></div>
                    </div>
                            <button type="button" class="btn btn-primary btn-md openBtn"  id="viewSC">View Source Code</button>
                        </div>


                </div>
            </div>

         <script>
                $(document).ready(function(){
                $('.openBtn').on('click',function(){
                    $('.modal-body').load('server/editor/markintegration.html',function(){
                        $('#myModal').modal({show:true});
                    });
                });
            })
        </script>   
            
        </div> <!-- end of row -->
        <% include partials/sourcecode.ejs %>
        
    </div> <!-- end of container -->
<script>

    
    // Helper functions

    function getElements(el) {
        return Array.prototype.slice.call(document.querySelectorAll(el));
    }

    function hideElement(el) {
        document.body.querySelector(el).style.display = 'none';
    }

    function showElement(el) {
        document.body.querySelector(el).style.display = 'block';
    }

    // Listen for changes to the radio fields

    getElements('input[name=payment-option]').forEach(function(el) {
        el.addEventListener('change', function(event) {

            // If PayPal is selected, show the PayPal button

            if (event.target.value === 'paypal') {
                hideElement('#card-button-container');
                showElement('#paypal-button-container');
            }

            // If Card is selected, show the standard continue button

            if (event.target.value === 'card') {
                showElement('#card-button-container');
                hideElement('#paypal-button-container');
            }
        });
    });

    // Hide Non-PayPal button by default

    hideElement('#card-button-container');

    function createCheckoutExp(chkObj){
      var CREATE_PAYMENT_URL = "/api/server/payment"
      var EXECUTE_PAYMENT_URL = "/api/server/payment-execute"

      var obj = {
            payment: function (data, actions) {
                document.getElementById("paypal-button-container-err").innerHTML = "";
                // call server to create payment
                return paypal.request.post(CREATE_PAYMENT_URL).then(function(data) {
                    return data.id;
                });
            },    
            onAuthorize: function (data, actions) {
                // call server to execute payment
                return paypal.request.post(EXECUTE_PAYMENT_URL, {
                    paymentID: data.paymentID,
                    payerID:   data.payerID
                }).then(function(payment) {
                    window.alert("Payment is Complete and Payment Id : " +payment.id);
                });
            },
            onCancel: function () {
                window.alert("You have cancelled");
                return;
            },
            onError: function (err) {
                $("#viewSC").hide();
                document.getElementById("paypal-button-container-err").innerHTML = "<p style='color:red'>" +
                    err + "</p>";
            }
        };
    
        paypal.Button.render(Object.assign({}, obj, chkObj), '#paypal-button-container');
    
        console.error = function () {
          /*  $("#viewSC").hide();
            document.getElementById("paypal-button-container").innerHTML += "<p style='color:red'>" +
                arguments[1].stack + "</p>";
            return false;*/
        }
    }
</script>
<script src="/javascripts/formhandling.js"></script>

</body>

</html>